.container{
    display: flex;
    width: 1440px;
    height: auto;
    margin: auto;
    flex-direction: column;
}


.top_nav{
    display: flex;
    width: 1440px;
    height: 80px;
    border-bottom: 1px solid var(--Border-Grey, #EBE8F4);
    background: #FFF;
    flex-direction: row;
    margin: auto;
    align-items: center;
}

.avion{
    padding-left: 80px;
    color: #22202E;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.main_links{
    display: flex;
    align-items: flex-start;
    gap: 44px;
    justify-content: center;
    align-items: center;
    padding-left: 149px;
    list-style: none;
    flex-direction: row;
}

.main_links_item{
    color: #726E8D;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.side_actions{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    padding-left: 300px;
    list-style-type: none;
}

.bg_image_1{
    background-image: url(resources/Search.png);
    width: 16px;
    height: 16px;
}
.bg_image_2{
    background-image: url(resources/Shopping--cart.png);
    width: 16px;
    height: 16px;
}
.bg_image_3{
    background-image: url(resources/User--avatar.png);
    width: 16px;
    height: 16px;
}

.header{
    display: flex;
    height: auto;
    margin: auto;
    flex-direction: column;
}

.header_text{
    display: flex;
    padding: 80px 556px 24px 575px;
    color: var(--Dark-Primary, #2A254B);
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    align-items: center;
}

.filters{
    display: flex;
    width: 1280px;
    height: 64px;
    padding: 8px 24px;
    align-items: center;
    gap: 390px;
    flex-shrink: 0;
    flex-direction: row;
}

.filters_menu{
    display: flex;
    height: 48px;
    align-items: flex-start;
    gap: 12px;
    padding: 0px 0px 0px 70px;
}

.small_button{
    display: flex;
    max-width: 168px;
    padding: 12px;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    border: none;
}

.sorting{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0px 24px;
}

.sorting_text{
    color: var(--Dark-Primary, #2A254B);
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    width: 70px;
}

.listing{
    display: flex;
    margin: auto;
    flex-direction: column;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 305px);
    gap: 20px;
    padding: 28px 80px 20px 80px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    text-decoration: none;
}

.img{
    width: 305px;
    height: 375px;
    flex-shrink: 0;
}

.product_info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.text{
    color: var(--Dark-Primary, #2A254B);
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin: 0 0 0 0;
}

.view_collection_button{
    display: inline-flex;
    width: 175px;
    height: 56px;
    margin: 20px 630px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--Light-Grey, #F9F9F9);
    border: none;
}

.view_collection_text{
    color: #2A254B;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration: none;
}

.sign-up_block{
    display: flex;
    margin-top: 40px;
    height: 521px;
    flex-direction: row;
}

.sign-up_left{
    display: flex;
    width: 720px;
    height: 521px;
    flex-shrink: 0;
    background-image: url(resources/Image.jpg);
}

.sign-up_right{
    display: flex;
    width: 720px;
    height: 521px;
    flex-direction: column;
}

.sign-up_text_h{
    width: 541px;
    height: 39px;
    margin: 71px 0px 0px 39px;
    color: var(--Dark-Primary, #2A254B);;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sign-up_text_main{
    width: 470px;
    height: 48px;
    margin: 21px 0px 0px 39px;
    color: var(--Dark-Primary, #2A254B);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.sign-up_button{
    display: inline-flex;
    width: 120px;
    height: 56px;
    margin: 216px 0px 0px 72px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    background: var(--Dark-Primary, #2A254B);
    border: none;
}

.sign-up_button_text{
    color: var(--White, #FFF);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration: none;
}

.footer{
    display: flex;
    height: 380px;
    background: var(--Dark-Primary, #2A254B);
    flex-direction: column;
}

.footer_main_part{
    display: flex;
    margin: 58px 0px 0px 82px;
    width: 1280px;
    height: 254px;
    flex-direction: row;
}

.footer_menu{
    display: flex;
    flex-direction: column;
    width: 117px;
    height: auto;
    gap: 12px;
    margin: 0 0 0 0;
    padding: 0;
    list-style-type: none;
}

.footer_categories{
    display: flex;
    flex-direction: column;
    width: 86px;
    height: auto;
    gap: 12px;
    margin-top: 0;
    padding: 0;
    list-style-type: none;
    margin-left: 100px;
}

.footer_our_company{
    display: flex;
    flex-direction: column;
    width: 111px;
    height: auto;
    gap: 12px;
    margin-top: 0;
    padding: 0;
    list-style-type: none;
    margin-left: 131px;
}

.footer_menus_header{
    color: var(--White, #FFF);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.footer_menus_item{
    color: var(--White, #FFF);
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.map{
    display: flex;
    width: 642px;
    height: 195px;
    margin-left: 93px;
    background-image: url(resources/map.jpg);
}

.footer_hr{
    width: 1277px;
    height: 1px;
    background: #4E4D93;
    border: none;
}

.footer_sec_part{
    display: flex;
    width: 1277px;
    height: 24px;
    flex-direction: row;
    margin: 11px 0px 0px 80px;
    gap: 845px;
}

.copyright_text{
    color: var(--White, #FFF);
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.social_links{
    display: flex;
    width: 264px;
    height: auto;
    gap: 24px;
    flex-direction: row;
}
